# Ignore results directory
results/

# Ignore raw data
raw_data/

# Ignore resources directory
resources/database/

# Ignore data directory
data/contigs/
data/raw_data/
data/

# Ignore .snakemake binaries
.snakemake/

# ignore paper folder
paper/
slurm_scripts/
itrop_discovir.slurm
crab_discovir.slurm
