# Ignore results directory
results/

# Ignore raw data
raw_data/

# Ignore resources directory
resources/database

# Ignore resources directory
sra_accessions.txt/

# Ignore .snakemake binaries
.snakemake/
